.MPInfo {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

.MPMain > section > p {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #E0CDCA;
  border-radius: 7px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 250px;
}
.MPILink {
  text-decoration: none;
  color: #785353;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
}

@media screen and (min-width: 1024px) {
  .MPMain > section > p {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 100px;
  }
}