.Read {
  display: grid;
  grid-template-areas: "head head" "main main";
  grid-template-rows: 140px 1fr 30px;
}


.Read > header {
  grid-area: head;
  position: fixed;
  padding-top: 70px;
  font-family: 'Playfair Display', serif;
  border: 1px solid #E0CDCA;
  width: 100%;
  background-color: white;
  z-index: 5;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.Read > main {
  border: 1px solid #E0CDCA;
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .Read > main {
    padding-left: 40px;
    padding-right: 40px;  
  }
}