.Quiz > main {
  border: 1px solid #9AA4AB;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.questionheader {
  margin-top: 20px;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #9AA4AB;
  margin-bottom: 40px;
}

.questiontitle {
  margin-top: 20px;
  margin-left: 3px;
  margin-right: 3px;
}



.answers {
  border: 2px solid #E0CDCA;
  border-radius: 7px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
}

.selected {
  background: #9AA4AB;
  color: white;
  font-weight: bold;
}

.moveBtn {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgb(5, 5, 5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  cursor: pointer;
  color: #9AA4AB;
}

.moveBtn:hover {
  color: #785353;
}

@media screen and (min-width: 768px) {
  .Quiz > main {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .questiontitle {
    padding-left: 10px;
    padding-right: 10px;
  }  

  .answers {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
  }  

  .moveBtn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .Quiz > main {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .questiontitle {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }  
  .answers {
    margin-top: 30px;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
  
  }  
  .moveBtn {
    font-size: 30px;
  }
}
