/* .PUBOX {
  width: 800px;
} */

.btn {
  background-color: white;
  /* color: black; */
  text-decoration: none;
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* border-radius: 7px; */
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 1px rgb(5, 5, 5);
  cursor: pointer;
}

.btn:hovor {
  cursor: pointer;
}

.red {
  color: #785353;
}

.green {
  color: #87AB91;
}

.blue {
  color: #98ABA8;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 40px;
  }
}

@media screen and (min-width: 1439px) {
  .btn {
    font-size: 50px;
  }
}