.App {
  font-family: "Open Sans",
  sans-serif; 
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.App__nav {
  position: fixed;
  padding-top: 1px;
  /* padding-bottom: 10px; */
  padding-bottom: 70px;
  background-color: #9AA4AB;
  font-family: 'Gloria Hallelujah', cursive;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid #E0CDCA;
}

.logo {
  width: 100vh;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  display: inline-block; 
  text-align: center;
  color: white;
  font-size: 25px;
  top: -7px;
}

.Header__logged-in {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 50px;
  /* transform: translate(-100); */
  display: inline-block; 
}

.Header__not-logged-in{
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  /* left: 50%;
  transform: translate(-75%); */
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 50px;
  /* transform: translate(-100); */
  display: inline-block; 
  /* flex-direction: column; */
}



.LogLink {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.App__footer  {
  position: fixed;
  padding: 1% 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  background-color: #9AA4AB;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 35px;
    top: -25px;
  }
}