.MPInfo {
  grid-area: head;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  /* border: 2px solid black; */
}

hr {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0e2c3b;
}

.MPILink {
  font-family: 'Nunito Sans', sans-serif;
  /* text-decoration: none; */
  color: black;
}